 <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login Page</title>
  </head>
  <body class="d-flex align-items-center justify-content-center vh-100 bg-light">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-4">
                  <div class="card shadow-lg">
                      <div class="card-body">
                          <h2 class="text-center mb-4">Login</h2>
                          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                              <div class="mb-3">
                                  <label for="email" class="form-label">Email address</label>
                                  <input type="email" class="form-control" id="email" placeholder="Enter your email"  formControlName="email">
                                  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                                    Valid email is required.
                                  </div>
                              </div>
                              <div class="mb-3">
                                  <label for="password" class="form-label">Password</label>
                                  <input type="password" class="form-control" id="password" formControlName="password"  placeholder="Enter your password">
                                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                                    Password is required.
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
                              <div *ngIf="loginError" class="error text-center text-danger">{{ loginError }}</div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
  